@{
    ViewData["Title"] = "Integrantes do Grupo";
}
<h1>@ViewData["Title"]</h1>

<p>Gilberto Luís Guedes da Silva....21157041</p>
<p>João Marcos dos Santos Valente...21157046</p>
<p>João Evangelista Beijo Neto......21157044</p>

